* {
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ol {
  width: 40%;
  padding-top: 10px;
}

body {
  padding-left: 150px;
  margin-top: 30px;
  margin-bottom: 60px;
}

input {
  font-size: 20px;
}

button,
input {
  padding: 8px;
  width: 300px;
  box-sizing: border-box;
}

button {
  width: 120px;
}

#container,
#btnContainer {
  margin-top: 16px;
}

#btnContainer button {
  width: 60px;
  margin: 0px 10px 10px 0px;
}

#btnContainer button[data-char="ALL"],
#btnContainer button[data-char="FAV"] {
  width: 80px;
}

#btnContainer button.active {
  border: 2px solid red;
  font-weight: 700;
}

li {
  line-height: 18px;
  padding: 4px;
}

.deleteLink,
.addFavLink,
.removeFavLink {
  margin-left: 16px;
  text-decoration: none;
  color: red;
  padding: 2px;
  font-size: 12px;
  box-sizing: border-box;
  cursor: pointer;
}

.deleteLink:hover,
.removeFavLink:hover,
.addFavLink:hover {
  font-weight: bold;
}

.addFavLink {
  color: green;
}

li:hover {
  background-color: #f2f2f2;
}

li.favName::first-letter {
  font-weight: bold;
  font-size: 18px;
  color: red;
}