/* user.css */
body{
    padding: 7%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    /* margin: ; */
  }
  
  /* Style for the User component */
  .user-container {
    width: 85%;
    max-width: 90%;
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 8px;
  }
/* Style for the "Refresh" button */
.refresh-button {
    background-color: #007bff;
    color: white;
    border: none;
    margin-bottom: 20px ;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  table{
    border: 2px solid black;
    width: 90%;
    border-radius: 20px;
    padding: 10px;
    max-width: 91%;
    
  }
  /* Style for the table header */
   thead th {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 4px;
  }
  
  /* Style for the table rows */
   tbody tr:nth-child(even) {
    background-color: #f2f2f2;
    height: 100px;
  }
  tbody tr:nth-child(odd){
    height: 100px;
  }

  /* .number{
    border-bo: ;
  } */
  
  /* Style for the "Delete" button */
  .delete-button {
    background-color: #dc3545;
    color: white;
    border: none;    
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }